<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.teamj_majorproject"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.teamj_majorproject.PatientsProfile"
            android:label="PatientsProfile" >
        </activity>
        <activity
            android:name="com.example.teamj_majorproject.Welcome"
            android:label="Welcome" >
        </activity>
        <activity
            android:name="com.example.teamj_majorproject.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.teamj_majorproject.Tutorial_p2"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.teamj_majorproject.Tutorial_p1"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.teamj_majorproject.Tutorial_p3"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.teamj_majorproject.Tutorial_p4"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.teamj_majorproject.Tutorial_p5"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.teamj_majorproject.Tutorial_p6"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.teamj_majorproject.Questionnaire"
            android:label="@string/app_name" >
        </activity>
    </application>

</manifest>